body {
	margin :0px;
	padding:0px;
	color: #eeeeee;
	overflow: hidden;
  position: relative;
}

img#background{
	position: fixed;
	z-index:-100;
	top:0px;
	width: 100%;
}


button{
	background-color: black;
	color: white;
	height: 50px;
	width: 80px;
	margin: 2%;
	border: 0px;
}
.page{
	position: absolute;
	z-index: -10;
	top:0%;
	width : 100%;
	height: 100%;
	text-align: center;
}

#home{
	left:0%;
}
#backgrounds{
	position: absolute;
	z-index:-90;
	top:0px;
	left:0px;
	width: 100%;
}

#menu{
	left:100%;
	top:0px;
	margin:0px;
	padding:0px;
}
#menu img{
	margin:0px;
	width: 100%;
}
#manicM{
	
}
#about{
	left:-100%;
}
#about img {
	margin-top : 1%;
}
#about img#logo {
	margin-top : 0%;
}
#merch{
	padding-top: 17%;
	left:-100%;
}
#merch img{
	
}
#project1{
	left:-100%;
}
#project2{
	left:-100%;
}
#project3{
	left:-100%;
}

/*
#4c5760
#ffd046
#eeeee
*/



@keyframes example {
  from {left: 100%;}
  to {left: 0%;}
}

.classhelp{
	animation: example 1.0s forwards;
}
