body {
	margin :0px;
	padding:0px;
	color: #eeeeee;
	overflow: hidden;
  	position: relative;
	background-color: black;
}

.page{
	position: absolute;
	width : 100vw;
	height: 100vh;
}

#background{
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index:-90;
	right:0%;
	left:0%;
	height: 100%;
	
}


/*MAIN MENU*/ 

#merchB{
	position: absolute;
	z-index: 10;
	top: 79%;
	left: 27%;
	width: 21%;
	height: 12%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

#contactB{
	position: absolute;
	z-index: 10;
	top: 38%;
	left: 44%;
	width: 11%;
	height: 5%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

#projB{
	position: absolute;
	z-index: 10;
	top: 39%;
	left: 64%;
	width: 24%;
	height: 15%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

#aboutB{
	position: absolute;
	z-index: 10;
	top: 38%;
	left: 11%;
	width: 17%;
	height: 27%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

video{
	display: none;
	margin-left: auto;
	margin-right: auto;
	z-index: 1000000000;
	right:0%;
	left:0%;
	height: 100%;
}


/*MERCH PAGE*/
#merchtomain{
	border-radius: 50%;
	position: absolute;
	z-index: 10;
	top: 15%;
	left: 14.5%;
	width: 6%;
	height: 12%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

/*ABOUT US PAGE*/
#abouttomain{
	border-radius: 50%;
	position: absolute;
	z-index: 10;
	top: 13%;
	left: 13.5%;
	width: 7%;
	height: 14%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

#abouttomerch{
	position: absolute;
	z-index: 10;
	top: 32%;
	left: 77%;
	width: 13%;
	height: 22%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

/*CONTACT PAGE*/
#contacttomainB{
	border-radius: 50%;
	position: absolute;
	z-index: 10;
	top: 9%;
	left: 23.5%;
	width: 7%;
	height: 12%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);

}

/*PROJECTS PAGE*/
#proj1B{
	position: absolute;
	transform: rotate(-1deg);
	z-index: 10;
	top: 47%;
	left: 17%;
	width: 18%;
	height: 13%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

#proj2B{
	position: absolute;
	transform: rotate(-8deg);
	z-index: 10;
	top: 77%;
	left: 17%;
	width: 17%;
	height: 13%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

#proj3B{
	position: absolute;
	transform: rotate(-3deg);
	z-index: 10;
	top: 56%;
	left: 36%;
	width: 14%;
	height: 17%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

#projtomainB{
	border-radius: 50%;
	position: absolute;
	z-index: 10;
	top: 11%;
	left: 15%;
	width: 7%;
	height: 14%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);

}

/*PROJECT 1 PAGE*/
#proj1toprojB{
	border-radius: 50%;
	position: absolute;
	z-index: 10;
	top: 34%;
	left: 12%;
	width: 9%;
	height: 14%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

/*PROJECT 2 PAGE*/
#proj2toprojB{
	border-radius: 50%;
	position: absolute;
	z-index: 10;
	top: 34%;
	left: 12%;
	width: 9%;
	height: 14%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

/*PROJECT 3 PAGE*/
#proj3toprojB{
	border-radius: 50%;
	position: absolute;
	z-index: 10;
	top: 12%;
	left: 21%;
	width: 7%;
	height: 11%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}


button:hover{
	cursor: url("/Manic/images/cursor.png") 15 15, pointer;
}
#aboutImg{
	height: 200px;
}
#aboutC{
	text-align:center;
	margin-top: 300px;
}
#merchImg1, #merchImg2, #merchImg3, #merchImg4, #merchImg5{
	height: 200px;
}
#proImg1{
	height: 80px;
	margin-top: 10%;
	margin-left: 10%;
}

#proImg2{
	height: 80px;
	margin-top: 10%;
	margin-left: 10%;
}

#proImg3{
	height: 80px;
	margin-top: 10%;
	margin-left: 10%;
}



