body {
	margin :0px;
	padding:0px;
	color: #eeeeee;
	overflow: hidden;
  	position: relative;
	background-color: black;
}

.page{
	position: absolute;
	width : 100vw;
	height: 100vh;
}

#background{
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index:-90;
	right:0%;
	left:0%;
	height: 100%;
}


/*MAIN MENU*/

#merchB{
	position: absolute;
	z-index: 10;
	top: 79%;
	left: 27%;
	width: 21%;
	height: 12%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

#contactB{
	position: absolute;
	z-index: 10;
	top: 38%;
	left: 44%;
	width: 11%;
	height: 5%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

#projB{
	position: absolute;
	z-index: 10;
	top: 39%;
	left: 64%;
	width: 24%;
	height: 15%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

#aboutB{
	position: absolute;
	z-index: 10;
	top: 38%;
	left: 11%;
	width: 17%;
	height: 27%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

video{
	display: none;
	margin-left: auto;
	margin-right: auto;
	z-index: 1000000000;
	right:0%;
	left:0%;
	height: 100%;
}


/*MERCH PAGE*/
#merchtomain{
	position: absolute;
	z-index: 10;
	top: 15%;
	left: 10%;
	width: 10%;
	height: 12%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

/*ABOUT US PAGE*/
#abouttomain{
	position: absolute;
	z-index: 10;
	top: 13%;
	left: 10%;
	width: 10%;
	height: 14%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}



/*CONTACT PAGE*/
#contacttomainB{
	position: absolute;
	z-index: 10;
	top: 9%;
	left: 18%;
	width: 11%;
	height: 12%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);

}

/*PROJECTS PAGE*/
#proj1B{
	position: absolute;
	transform: rotate(-1deg);
	z-index: 10;
	top: 47%;
	left: 14%;
	width: 18%;
	height: 13%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

#proj2B{
	position: absolute;
	transform: rotate(-8deg);
	z-index: 10;
	top: 77%;
	left: 14%;
	width: 17%;
	height: 13%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

#proj3B{
	position: absolute;
	transform: rotate(-3deg);
	z-index: 10;
	top: 56%;
	left: 33%;
	width: 15%;
	height: 22%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

#proj4B{
	position: absolute;
	transform: rotate(-3deg);
	z-index: 10;
	top: 67%;
	left: 50%;
	width: 10%;
	height: 7%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

#proj5B{
	position: absolute;
	transform: rotate(0.5deg);
	z-index: 10;
	top: 23%;
	left: 60%;
	width: 32%;
	height: 43%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

#projtomainB{
	position: absolute;
	z-index: 10;
	top: 11%;
	left: 10%;
	width: 12%;
	height: 14%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);

}

/*PROJECT 1 PAGE*/
#proj1toprojB{
	position: absolute;
	z-index: 10;
	top: 10%;
	left: 10%;
	width: 11%;
	height: 13%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

/*PROJECT 2 PAGE*/
#proj2toprojB{
	position: absolute;
	z-index: 10;
	top: 10%;
	left: 10%;
	width: 11%;
	height: 13%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

/*PROJECT 3 PAGE*/
#proj3toprojB{
	position: absolute;
	z-index: 10;
	top: 6%;
	left: 10%;
	width: 10%;
	height: 11%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}

#proj4toprojB{
	position: absolute;
	z-index: 10;
	top: 10%;
	left: 9%;
	width: 10%;
	height: 11%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}


#proj5toprojB{
	position: absolute;
	z-index: 10;
	top: 6%;
	left: 10%;
	width: 9%;
	height: 11%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}



body:hover{
	cursor: url("images/cursor2.png") 15 15, pointer;
}
button:hover{
	cursor: url("images/cursor.png") 15 15, pointer;
}

#aboutImg{
	height: 300px;
}
#aboutC{
	text-align:center;
	margin-top: 20%;
}

#aboutproj{
	text-align:center;
	margin-top: 10%;
}

#aboutproj3{
	text-align:center;
	margin-top: 10%;

}

#aboutproj4{
	text-align:center;
	margin-top: 10%;
}

#aboutproj5{
	text-align:center;
	margin-top: 10%;
}


#merchC{
	text-align:center;
	margin-top: 22%;
}

#merchImg1, #merchImg2, #merchImg3, #merchImg4, #merchImg5{
	height: 70px;
}
#proImg1{
	height: 80px;
	position: absolute;
	top: 50%;
	left: 22%;
	z-index: 1;
}

#proImg2{
	height: 80px;
	position: absolute;
	top: 80%;
	left: 22%;
	z-index: 1;
}

#proImg3{
	height: 80px;
	position: absolute;
	top: 60%;
	left: 40%;
	z-index: 1;
}
#prosI{
	height: 50%;
	margin-top: 10%;
	margin-left: 30%;
}

#merchpage{
	display: none;
		z-index: 10000000000000000000000000;
}

#aboutpage{
	display: none;
	z-index: 10000000000000000000000000;
}

#contactpage{
	display: none;
	z-index: 100;
}

#projectpage{
	display: none;
	z-index: 100;
}

#proj1page{
	display: none;
	z-index: 100;
}

#proj2page{
	display: none;
	z-index: 100;
}

#proj3page{
	display: none;
	z-index: 100;
}

#proj4page{
	display: none;
	z-index: 100;
}

#proj5page{
	display: none;
	z-index: 100;
}

#about{
	text-align: center;
	display: inline-block;
	width: 50%;
}

#aboutp{
	line-height: 1.5;
	font-family: Helvetica;
	border: 4px solid #fff;
  	border-radius: 25px;
  	padding: 30px;
  	box-shadow: 0 0 3px #fff,
              0 0 3px #fff,
              0 0 10px #FF10F0,
              0 0 7px #FF10F0,
              0 0 10px #FF10F0,
              inset 0 0 1.3rem #FF10F0;
}

#aboutImg{
	height: 200px;
}

#merch{
	text-align: center;
	display: inline-block;
	width: 52vw;
	border: 4px solid #fff;
  	border-radius: 25px;
  	padding: 5px;
  	box-shadow: 0 0 3px #fff,
              0 0 3px #fff,
              0 0 10px #1F51FF,
              0 0 7px #1F51FF,
              0 0 10px #1F51FF,
              inset 0 0 1.3rem #1F51FF;
}

#grid
{
	text-align: center;
	display: inline-block;
	padding: 7px;
}

#merchp{
	font-size: 12px;
	font-family: Helvetica;
	line-height: 1.5;
}

#aboutp1{
	background-color: rgba(0, 0, 0, 0.7);
	overflow-y: scroll;
	height: 54vh;
	text-align: center;
	display: inline-block;
	width: 55vw;
	border: 4px solid #fff;
  	border-radius: 25px;
  	padding: 15px;
  	box-shadow: 0 0 3px #fff,
              0 0 3px #fff,
              0 0 10px #FF10F0,
              0 0 7px #FF10F0,
              0 0 10px #FF10F0,
              inset 0 0 1.3rem #FF10F0;
}

#aboutp3{
	background-color: rgba(0, 0, 0, 0.7);
	overflow-y: scroll;
	height: 60vh;
	text-align: center;
	display: inline-block;
	width: 55vw;
	border: 4px solid #fff;
  	border-radius: 25px;
  	padding: 15px;
  	box-shadow: 0 0 3px #fff,
              0 0 3px #fff,
              0 0 10px #FF10F0,
              0 0 7px #FF10F0,
              0 0 10px #FF10F0,
              inset 0 0 1.3rem #FF10F0;
}

#aboutp4{
	background-color: rgba(0, 0, 0, 0.7);
	overflow-y: scroll;
	height: 80vh;
	text-align: center;
	display: inline-block;
	width: 55vw;
	border: 4px solid #fff;
  	border-radius: 25px;
  	padding: 15px;
  	box-shadow: 0 0 3px #fff,
              0 0 3px #fff,
              0 0 10px #FF10F0,
              0 0 7px #FF10F0,
              0 0 10px #FF10F0,
              inset 0 0 1.3rem #FF10F0;
}

#aboutp5{
	background-color: rgba(0, 0, 0, 0.7);
	overflow-y: scroll;
	height: 63vh;
	text-align: center;
	display: inline-block;
	width: 50vw;
	border: 4px solid #fff;
  	border-radius: 25px;
  	padding: 15px;
  	box-shadow: 0 0 3px #fff,
              0 0 3px #fff,
              0 0 10px #FF10F0,
              0 0 7px #FF10F0,
              0 0 10px #FF10F0,
              inset 0 0 1.3rem #FF10F0;
}


#aboutp1p{
	font-family: Helvetica;
	line-height: 1.5;
	padding: 5px;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

#ff{
	padding: 10px;
	height: 150px;

}

#gl{
	padding: 10px;
	height: 200px;

}

#bp{
	padding: 10px;
	height: 400px;

}

#con{
	font-family: Helvetica;
}

.load-wrapp {
  position:fixed;
  width: 100vw;
  height: 100vh;
  display:flex;
  text-align: center;
	align-items:center;
	justify-content: center;
  background-color: #222222;
}
.bar {

  width: 30px;
  height: 6px;
  border-radius: 2px;
  background-color: #FF10F0;
}
.load{
	display:inline-block;
	position: relative;
	left:-80px;
}
.load .bar {
  animation: loadingbar 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}
	@keyframes loadingbar {
	  0%,
	  100% {
	    transform: translate(0, 0);
	  }

	  50% {
	    transform: translate(80px, 0);
	    background-color: #f5634a;
	    width: 25px;
	  }
	}
